.phone-mobile {
    display: none;
}

.giuseart-nav {
    position: fixed;
    right: 13px;
    background: #fff;
    border-radius: 5px;
    width: auto;
    z-index: 150;
    bottom: 50px;
    padding: 10px 0;
    border: 1px solid #f2f2f2;
}

.giuseart-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.giuseart-nav ul li {
    list-style: none !important;
}

.giuseart-nav ul > li a {
    border: none;
    padding: 3px;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #515151;
    font-weight: 700;
    max-width: 72.19px;    
    max-height: 54px;
    text-decoration: none;
}

.giuseart-nav ul > li .chat_animation {
    display: none;
}

.giuseart-nav ul > li a i {
    width: 33px;
    height: 33px;
    display: block;
    margin: auto;
    background-size: contain;
}

.giuseart-nav ul > li a i.ticon-heart,
.giuseart-nav ul > li a i.ticon-zalo-circle2,
.giuseart-nav ul > li a i.ticon-angle-up,
.giuseart-nav ul > li a i.ticon-messenger,
.giuseart-nav ul > li a i.t-chat-sms {
    width: 36px;
    height: 36px;
}

.giuseart-nav ul > li a i.ticon-chat-sms {
    width: 38px;
    height: 36px;
}

.giuseart-nav ul > li a i.icon-phone-w {
    background-size: contain;
}

.giuseart-nav li .button {
    background: transparent;
}

.giuseart-nav ul li .button .btn_phone_txt {
    position: relative;
    top: 35px;
    font-size: 10px;
    font-weight: bold;
    text-transform: none;
}

.giuseart-nav ul li .button .phone_animation i {
    width: 40px;
    font-size: 40px;
    margin-top: 8px;
    height: 40px;
}

.giuseart-nav ul > li a.chat_animation svg {
    margin: -13px 0 -20px;
}

@media only screen and (max-width: 600px) {
    .giuseart-nav li .chat_animation {
        display: block !important;
    }

    .giuseart-nav li .button .phone_animation {
        box-shadow: none;
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #6cb917;
        line-height: 15px;
        border: 2px solid white;
    }

    .giuseart-nav ul > li a {
        padding: 0;
        margin: 0 auto;
    }

    .giuseart-nav {
        background: white;
        width: 100%;
        border-radius: 0;
        color: #fff;
        height: 60px;
        line-height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        padding: 5px;
        box-shadow: 0 4px 10px 0 #000;
    }

    .giuseart-nav li {
        float: left;
        width: 20%;
        list-style: none;
        height: 50px;
    }

    .phone-mobile {
        display: block !important;
    }
}
